@model IEnumerable<CIS440Project.Models.ProjectDB>

@{
    ViewBag.Title = "Index";
}

<h2>Project Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="projectTable">
    <tr>
        <th id="pName">
            Project Name
        </th>
        <th id ="pDescription">
            Description
        </th>
        <th id="pCompanyName">
            Company Name
        </th>
        <th id="pImage">
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
    </tr>
}

</table>
